
<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Lamine Doucoure</h2>
          <h4>lamine.doocure@gmail.com</h4>
      </div>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="" >
  </div>
  <mat-divider></mat-divider>
  
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">dashbord</a>
  <a mat-list-item routerLink="users" routerLinkActive="list-item-active">Utilisateur</a>
  <a mat-list-item routerLink="partenaire" routerLinkActive="list-item-active">Partenaire</a>
  <a mat-list-item routerLink="personnel" routerLinkActive="list-item-active">Personnel</a>
<mat-divider></mat-divider>
<h2 matSubheader>Pages</h2>
<a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>import_contacts</mat-icon>
    contacts
</a>
<a mat-list-item routerLink="/" routerLinkActive="list-item-active">
    <mat-icon>contact_phone</mat-icon>
    phone
</a>

<mat-divider></mat-divider>
another menu 
</mat-nav-list>
