<mat-toolbar color="primary">
<mat-toolbar-row>
  <!--
<button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
  -->  

    <span><img src="assets/images/logo.png" alt="" ></span>
    
    <div fxFlex fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
              <button mat-icon-button>
                  <mat-icon>settings</mat-icon>
            </button>
            </li>
            <li>
              <button mat-icon-button>
                  <mat-icon>help_outline</mat-icon>
          
              </button>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>Se connecter
                </button>
               <mat-menu #menu="matMenu" >   
                <ul>
                  <li>
                    <a href="default-layout/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Partenaire</a>
                  </li>
                  <li>
                    <a href="default-layout/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Particulier</a>
                  </li>
                </ul>
              <!--
                <mat-divider></mat-divider>

                        <ul>
                          <li>
                            <a href="#"><i class="fa fa-home"></i> My Account</a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-user-o"></i> Profile</a>
                          </li>
                          <li>
                            <a href="#" routerLink="/default-layout/calendar"><i class="fa fa-calendar"></i> Calendar</a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-cogs"></i> Settings</a>
                          </li>
                          <li>
                            <a href="#"><i class="fa fa-sign-out"></i> Log Out</a>
                          </li>
                        </ul>
                      -->
                                                
                    </mat-menu>
            </li>
        </ul>
      </div>


  
        
      

</mat-toolbar-row>



</mat-toolbar>
