<mat-toolbar color="primary">
<mat-toolbar-row>
  <!--
<button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
  -->  

    <span><img src="assets/images/logo.png" alt="" ></span>
    
    <div fxFlex fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
              <button mat-icon-button>
                  <mat-icon>settings</mat-icon>
            </button>
            </li>
            <li>
              <button mat-icon-button>
                  <mat-icon>help_outline</mat-icon>
          
              </button>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>Se connecter
                </button>
               <mat-menu #menu="matMenu" style="background-color:white;">
                 
                      <h3>Se connecter</h3>
                      <mat-divider></mat-divider>
                      <h5><a href="#">Services Oumou</a></h5> 
                      <mat-divider></mat-divider>
                      <h5><a href="#">Services partenaire</a></h5>
                                                
               </mat-menu>
            </li>
        </ul>
      </div>
</mat-toolbar-row>



</mat-toolbar>
