<!-- 
 public id?: number;
  public nom: string;
  public prenom: string;
  public adresse: string;
  public metier: string;
  public service: string;
  public nomUtilisateur: string;
  public mail: string;
  public tel: string;
  public role: string;
  -->
  
  
  <mat-card>  
    <!-- Title of an Card -->  
    <mat-card-title style="text-align: center;">  
      Enregistrer un Personnel
    </mat-card-title>  
    <mat-divider> </mat-divider>
    <!-- Actual content starts from here -->  
    <mat-card-content class="profile-card" style="text-align: center;" >  
        <form [formGroup]="regiForm" (ngSubmit)="onCreatePersonnel(regiForm.value)" style="display: inline-block;" >  
            <table>  
                <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="nom" matInput placeholder="Nom">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('nom').valid && regiForm.get('nom').touched">SVP saisir le nom !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr> 
                 <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="prenom" matInput placeholder="Prenom">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('prenom').valid && regiForm.get('prenom').touched">SVP saisir le prenom !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                <tr> 
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="adresse" matInput placeholder="Adresse">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('adresse').valid && regiForm.get('adresse').touched">SVP saisir l'adresse!!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
               <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="metier" matInput placeholder="Metier">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('metier').valid && regiForm.get('metier').touched">SVP saisir le metier !!!</span>  
                        </mat-error>  
                    </td>  
                </tr>  
                 <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="service" matInput placeholder="Service">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('service').valid && regiForm.get('service').touched">SVP saisir le service !!!</span>  
                        </mat-error>  
                    </td>  
                </tr> 
                   <tr>  
                    <td>  
                        <mat-form-field class="demo-full-width">  
                            <input formControlName="nomUtilisateur" matInput placeholder="Nom Utilisateur">  
                        </mat-form-field>  
                        <mat-error>  
                            <span *ngIf="!regiForm.get('nomUtilisateur').valid && regiForm.get('nomUtilisateur').touched">SVP saisir le nom utilisateur !!!</span>  
                        </mat-error>  
                    </td>  
                </tr> 
                  <tr>  
                  <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="mail" matInput placeholder="Email">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('mail').valid && regiForm.get('mail').touched">SVP saisir le mail !!!</span>  
                    </mat-error>  
                </td>  
                </tr>  
                <tr>
                  <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="tel" matInput placeholder="Telephone">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('tel').valid && regiForm.get('tel').touched">SVP saisir le  telephone!!!</span>  
                    </mat-error>  
                </td>  
                </tr>  
            
                <tr>  
                    <td><br>  
                        <mat-form-field>  
                            <mat-select formControlName="role" placeholder="Choisir le role">  
                                <mat-option>-- Choisir UN --</mat-option>  
                                <mat-option value="EMPLOYE">EMPLOYE</mat-option>  
                                <mat-option value="SOUS_ADMIN">SOUS_ADMIN</mat-option>  
                                <mat-option value="AGENT">AGENT</mat-option>  
                            </mat-select>  
                            <mat-error>  
                                <span *ngIf="!regiForm.get('role').valid && regiForm.get('role').touched">SVP choisir le role !!!</span>  
                            </mat-error>  
                        </mat-form-field>  
                    </td>  
                </tr>  
               
                <tr>  
                    <td colspan="2" class="content-center">  
                        <button mat-raised-button color="success" [disabled]="!regiForm.valid">Enregistrer</button>  
                    </td>  
                   
                </tr>  
                <tr>  
                    <td></td>  
                </tr>  
            </table>  
        </form>  
     
       
    </mat-card-content>  

    <mat-divider> </mat-divider>
 
    <mat-card-content class="profile-card" style="padding-top: 50px;" > 
        <p-table [value]="loadedPersonnel" dataKey="id" editMode="row"
         sortMode="multiple" selectionMode="multiple" [paginator]="true"
          [responsive]="true"  [rows]="20" [resizableColumns]="true" 
          columnResizeMode="expand" 
           >
            <ng-template pTemplate="header">
              <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Metier</th>
                    <th>Service</th>
                    <th>Utilisateur</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Role</th>
                
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-personnel let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="personnel" style="background-color: aqua;">
                    <td>
                        {{personnel.id}}
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.nom">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.nom}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.prenom">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.prenom}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                      <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.adresse">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.adresse}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="personnel.metier">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{personnel.metier}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                      <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.service">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.service}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                      <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.nomUtilisateur">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.nomUtilisateur}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                       <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.mail">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.mail}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                     <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.tel">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.tel}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                     <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="personnel.role">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{personnel.role}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td >
                        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                            class="ui-button-info" (click)="onRowEditInit(personnel)" >Edit</button>
    
                        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                            class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(personnel)">Save</button>
                            
                        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                            class="ui-button-danger" (click)="onRowEditCancel(personnel, ri)">Cancel</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-card-content>

  </mat-card> 
  
 
  