 

<!-- Card container that binds all togather
  public id?: number;
  public login: string;
  public password: string;
  public numero: number;
  public nom: string;
  public role: string; -->  
<mat-card>  
  <!-- Title of an Card -->  
  <mat-card-title style="text-align: center;">  
    Creation Compte Admin  
  </mat-card-title>  

  <!-- Actual content starts from here -->  
  <mat-card-content class="profile-card" style="text-align: center;" >  
      <form [formGroup]="regiForm" (ngSubmit)="onCreateUser(regiForm.value)" style="display: inline-block;" >  
          <table>  
              <tr>  
                  <td>  
                      <mat-form-field class="demo-full-width">  
                          <input formControlName="login" matInput placeholder="Login">  
                      </mat-form-field>  
                      <mat-error>  
                          <span *ngIf="!regiForm.get('login').valid && regiForm.get('login').touched">SVP saisir le login !!!</span>  
                      </mat-error>  
                  </td>  
              </tr>  
              <tr> 
                <td>  
                    <mat-form-field class="demo-full-width">  
                        <input formControlName="password" matInput placeholder="Mot de Passe">  
                    </mat-form-field>  
                    <mat-error>  
                        <span *ngIf="!regiForm.get('password').valid && regiForm.get('password').touched">SVP saisir le mot de passe!!!</span>  
                    </mat-error>  
                </td>  
            </tr>  
              <tr>
                <td>  
                  <mat-form-field class="demo-full-width">  
                      <input formControlName="numero" matInput placeholder="Numero">  
                  </mat-form-field>  
                  <mat-error>  
                      <span *ngIf="!regiForm.get('numero').valid && regiForm.get('numero').touched">SVP saisir le  numero!!!</span>  
                  </mat-error>  
              </td>  
              </tr>  
              <tr>  
                <td>  
                  <mat-form-field class="demo-full-width">  
                      <input formControlName="nom" matInput placeholder="Nom">  
                  </mat-form-field>  
                  <mat-error>  
                      <span *ngIf="!regiForm.get('nom').valid && regiForm.get('nom').touched">SVP saisir le nom !!!</span>  
                  </mat-error>  
              </td>  
              </tr>  
              <tr>  
                  <td><br>  
                      <mat-form-field>  
                          <mat-select formControlName="role" placeholder="Choisir le role">  
                              <mat-option>-- Choisir UN --</mat-option>  
                              <mat-option value="EMPLOYE">EMPLOYE</mat-option>  
                              <mat-option value="SOUS_ADMIN">SOUS_ADMIN</mat-option>  
                              <mat-option value="AGENT">AGENT</mat-option>  
                          </mat-select>  
                          <mat-error>  
                              <span *ngIf="!regiForm.get('role').valid && regiForm.get('role').touched">SVP choisir le role !!!</span>  
                          </mat-error>  
                      </mat-form-field>  
                  </td>  
              </tr>  
             
              <tr>  
                  <td colspan="2" class="content-center">  
                      <button mat-raised-button color="success" [disabled]="!regiForm.valid">Creer</button>  
                  </td>  
                 
              </tr>  
              <tr>  
                  <td></td>  
              </tr>  
          </table>  
      </form>  
      <table>
        <tr>
          <td colspan="2" class="content-center">  
            <button mat-raised-button color="success"  (click)="onFetchUsers()">Afficher</button>  
        </td>  
        <td colspan="2" class="content-center">  
          <button mat-raised-button color="success" [disabled]="!regiForm.valid">Supprimer</button>  
      </td>  
        </tr>
      </table>
     
  </mat-card-content>  
</mat-card>  

<mat-divider> </mat-divider>
<mat-card>


<mat-card-content class="profile-card" > 
    <p-table [value]="loadedUsers" dataKey="id" editMode="row"
     sortMode="multiple" selectionMode="multiple" [paginator]="true" [rows]="50" 
     [responsive]="true"   [resizableColumns]="true" 
          columnResizeMode="expand" 
     >
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>login</th>
                <th>password</th>
                <th>numero</th>
                <th>nom</th>
                <th>role</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
                <td>
                    {{user.id}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.login">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.login}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.password">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.password}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.numero">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.numero}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.nom">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.nom}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.role">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.role}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td >
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(user)">Edit</button>

                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(user)">Save</button>
                        
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(user, ri)">Cancel</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</mat-card-content>
</mat-card>