<!-- Legacy form field 

 public id: number;
  public login: string;
  public password: string;
  public numero: number;
  public nom: string;
  public role: string;

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email Address:</mat-label>
      <input matInput placeholder="Your email">
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-hint>Input the fully qualified email address</mat-hint>
    </mat-form-field>
  </p>

    <p>
    <mat-form-field appearance="standard">
      <mat-label>Phone Number:</mat-label>
      <input matInput placeholder="Your Phone">
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Phone number with Country code</mat-hint>
    </mat-form-field>
  </p>
-->
<form [formGroup]="userForm" >
<div  class="form-container">

    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Login:</mat-label>
          <input matInput placeholder="Login" formControlName="usager" >
          <span *ngIf="!userForm.controls['usager'].valid && !userForm.controls['usager'].untouched"
                        class="validation">champ
                        obligatoire</span>
          <mat-hint>Saisir un login unique</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" formControlName="password">
          <span *ngIf="!userForm.controls['password'].valid && !userForm.controls['password'].untouched"
          class="validation">champ
          obligatoire</span>
          <mat-hint>Min 8 char 1 number and 1 alpha</mat-hint>
        </mat-form-field>
      </p>
      <!-- Standard form field -->
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Numero:</mat-label>
          <input matInput placeholder="Numero" formControlName="numero">
          <mat-hint>Saisir le numero</mat-hint>
        </mat-form-field>
      </p>
      <!-- Fill form field -->
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nom:</mat-label>
          <input matInput placeholder="Nom" formControlName="nom">
          <span *ngIf="!userForm.controls['nom'].valid && !userForm.controls['nom'].untouched"
          class="validation">champ
          obligatoire</span>
          <mat-hint>Saisir le nom</mat-hint>
        </mat-form-field>
      </p>
        
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Role:</mat-label>
              <mat-select formControlName="option">
                <mat-option *ngFor="let role of roles" [value]="role.name" >
                  {{role.name}}
                </mat-option>
              </mat-select>
              <span *ngIf="!userForm.controls['option'].valid && !userForm.controls['option'].untouched"
          class="validation">champ
          obligatoire</span>
              <mat-hint>choisir un role</mat-hint>
            </mat-form-field>
          </p>
        
</div>

</form>
  
  <!-- Outline form field -->
 