
.aide{
    font-family: "Gilroy-Light",Arial,sans-serif;
    font-size: 30px;
    line-height: 36px;
   color: #00314d;
   text-align: center; 
}

.partenaire .image-partenaire{
    background-image: url("/assets/images/partenaire/image_part7.jpg");
   /* background-image: url("/assets/images/partenaire/poly2.svg");*/
    background-repeat: no-repeat;
    min-height: 70px;
    width: 100%;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0;
    
}

.particulier .image-particulier{
    background-image: url("/assets/images/particulier/particulier_2.jpg");
     background-repeat: no-repeat;
    min-height: 70px;
    width: 100%;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0;
}


.conseiller .image-conseiller{
    background-image: url("/assets/images/conseiller/conseiller_4.jpg");
    background-repeat: no-repeat;
    min-height: 70px;
    width: 100%;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0;
}

.carre{
    font-family: "Gilroy-Light",Arial,sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    letter-spacing: .5px;
    text-align: center;
    left: 0;
    padding: 30px 0px 30px;
}
.mess-text{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    letter-spacing: .5px;
    text-align: center;
    left: 0;
    padding: 50px 20px 80px 20px; 
}

.button {
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01562rem;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    padding: 0.6em 2em;
    border: 0.125rem solid #0075BE;
    border-radius: 5em;
    background: #0075BE;
    color: #FEFEFE;
    text-align: center;
    transition: 300ms ease background-color, 300ms ease color, 300ms ease border-color;
    cursor: pointer;
    max-width: 90vw;
}
.btn{
    width: 100%;
    text-align: center;
}

.card{
    background-color: rgba(225, 241, 230, 0.938);
}





/* test   */


   .mc {
    background-image: url("/assets/images/carte-credit.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 60px;
    margin-top: 20px;

    
   }
   .mc p{
    font-family: "Gilroy-Medium",Arial,sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: black;
    width: 30%;
   }