
<section >
<div class="index-intro">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card  class="mc" >
        <h1 >Cartes de crédit</h1>
        <p>Nos cartes de crédit vous offrent une variété d'avantages et d'options pour mieux répondre à vos besoins.
         Que vous cherchiez une carte à faible taux d'intérêt, des remises en argent ou des avantages voyage, 
        nous avons la carte qui vous convient.</p>
      </mat-card>
    </div>     
  </div>
</div>
</div>
<mat-divider></mat-divider>

<div class="container-fluid" style="margin-top: 20px;">
 <div class="row">
  <div class="col-md-12" > 
    <h2 class="aide">Abonnez-vous</h2>
  </div>
 </div>

  <mat-divider></mat-divider>

  <div class="row" >
    <div class="col-md-6" >
     <mat-card class="card">
      <div style="text-align: center;" > <h2> Partenaire</h2> </div>
      <div class="mess-text"  ><h5>En tant que Partenaire de lebalma,
       donnez l'occasion a vos employes de d'effectuer des operations avec nos cartes</h5> </div>
      <div class="btn" >

       <a target="_self" form="" 
       aria-haspopup="false" 
       aria-controls="" aria-label="en savoir plus" 
       class="button" 
       href="/dashboard" 
       >Commencer</a>
     </div>
    </mat-card>
   </div>

   <div class="col-md-6  " >
     <mat-card class="card">
      <div style="text-align: center;"> <h2>Particulier </h2> </div>
      <div class="mess-text" ><h5>Avoir noir carte pour particulier, c'est d'etre pret a faire des operation en tout temps dans les points de services de nos partenaires</h5> </div>
      <div class="btn">

       <a target="_self" form="" 
       aria-haspopup="false" 
       aria-controls="" aria-label="en savoir plus" 
       class="button" 
       href="/dashboard" 
       >Commencer</a>
      </div>
    </mat-card>
   </div>
 </div>
</div>

<mat-divider></mat-divider>

<div class="container-fluid" style="margin-top: 20px;" >
  <div class="row"  >
    
    <div class="col-md-4 partenaire   aem-GridColumn--bootstrapxs--none aem-GridColumn--bootstrapsm--6 aem-GridColumn--default--none aem-GridColumn--offset--bootstrapxs--0 aem-GridColumn--bootstrapsm--none aem-GridColumn aem-GridColumn--offset--bootstrapsm--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4 aem-GridColumn--bootstrapxs--12 " >
      <mat-card>
      <div class="image-partenaire"></div>
      <div class="carre"><h5>Je veux avoir des informations pour l'abonnement d'un partenaire</h5> </div>
      <div class="btn-partenaire" style="text-align: center;">

        <a target="_self" form="" 
        aria-haspopup="false" 
        aria-controls="" aria-label="en savoir plus" 
        class="link button tv-button uppercase at-element-click-tracking" 
        href="/dashboard" 
        >En Savoir plus</a>
       </div>
      </mat-card>
    </div>
  
    <div class="col-md-4 particulier aem-GridColumn--bootstrapxs--none aem-GridColumn--bootstrapsm--6 aem-GridColumn--default--none aem-GridColumn--offset--bootstrapxs--0 aem-GridColumn--bootstrapsm--none aem-GridColumn aem-GridColumn--offset--bootstrapsm--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4 aem-GridColumn--bootstrapxs--12">
      <mat-card>
       <div class="image-particulier "></div>
       <div class="carre"><h5>Je veux avoir des informations pour l'abonnement d'un particulier</h5></div>
       <div class="btn-particulier" style="text-align: center;">

        <a target="_self" form="" 
          aria-haspopup="false" 
          aria-controls="" aria-label="en savoir plus" 
          class="link button tv-button uppercase at-element-click-tracking" 
          href="/dashboard" 
          >En Savoir plus</a>

       </div>
      </mat-card>
    </div>
    <div class="col-md-4 conseiller aem-GridColumn--bootstrapxs--none aem-GridColumn--bootstrapsm--6 aem-GridColumn--default--none aem-GridColumn--offset--bootstrapxs--0 aem-GridColumn--bootstrapsm--none aem-GridColumn aem-GridColumn--offset--bootstrapsm--0 aem-GridColumn--offset--default--0 aem-GridColumn--default--4 aem-GridColumn--bootstrapxs--12">
      <mat-card>
        <div class="image-conseiller"></div>
        <div class="carre"><h5>Je veux parler a un conseiller pour avoir plus d'informations</h5></div>
        <div class="btn-parler" style="text-align: center;"><a target="_self" form="" 
          aria-haspopup="false" 
          aria-controls="" aria-label="en savoir plus" 
          class="link button uppercase at-element-click-tracking" 
          href="/dashboard" 
          >En Savoir plus</a></div>
        </mat-card>
    </div>
   
  </div>

</div>

</section>

